

{% extends 'movie_app/base.html' %}


{% block title %} Все фильмы {% endblock %}


{% block content %}
    <h2>Список всех фильмов</h2>
    <ul>
        {% for movie in movies %}
            <li><a href="{{ movie.get_url }}">{{ movie.name }}</a>,
                рейтинг - {{ movie.rating }},
                бджет - {{movie.budget}},
                год - {{movie.year|default:"Неизвестен"}}
            </li>
        {% endfor %}
    </ul>
    <h3>Средний бюджет - {{ agg.budget__avg }}</h3>
    <h3>Минимальный ретйинг - {{ agg.rating__min }}</h3>
    <h3>Максимальный ретйинг - {{ agg.rating__max }}</h3>
    <h3>Всего фильмов - {{ agg.id__count }}</h3>
{% endblock %}